.statistic {
    margin-top: 64px;
    background: linear-gradient(84.1deg, #00b5f1 33.44%, #00e0ff 132.9%);
    border-radius: 26px;
    padding: 29.5px 58.25px;
    font-family: Roboto, sans-serif !important;
    margin: 0px 168px;
    .title {
        font-family: Montserrat, sans-serif !important;
        font-weight: 700;
        font-size: 39px;
        line-height: 48px;
        text-align: center;
        color: #fff;
    }

    .body {
        margin-top: 40px;

        ul {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            row-gap: 20px;

            li {
                text-align: center;
                max-width: 150px;
                width: 16.66%;
                list-style: none;

                .image {
                    margin: auto;
                    width: 112px;
                    height: 112px;
                    background: #fff;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .number {
                    font-weight: 700;
                    font-size: 38px;
                    line-height: 46px;
                    color: #fff;
                }

                .content {
                    font-family: Montserrat, sans-serif !important;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 24px;
                    color: #fff;
                }
            }
        }
    }
}
