.containerPartner {
    max-width: 1180px !important;
    margin: auto;
    width: 100%;

    ul {
        padding: 20px 0;
        list-style: none;
        display: flex;
        align-items: center;
        min-height: 60px;
        font-weight: 600;
        flex-wrap: wrap;
        margin: 0;

        li {
            display: flex;
            align-items: center;
            color: #1a7bb4;
            font-size: 16px;
            font-weight: 600;
            margin-right: 20px;
        }

        li:last-child {
            margin-right: 0;
        }

        a {
            text-decoration: none;
            color: #003553;
        }
    }
}
