.main {
    width: 100vw;
    background: #e8f2f7;
    font-family: Roboto, sans-serif !important;
    padding-bottom: 78px;

    .header {
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        height: 35vw;
        width: 100%;
        margin-bottom: 155px;
        font-family: Roboto, sans-serif !important;

        .bannerHeader {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;

            .container {
                display: flex;
                max-width: 1180px;
                margin: auto;

                .content {
                    padding: 95px 0px;

                    .index_slider {
                        width: 100%;
                        margin-top: 90px;
                        max-width: 1180px !important;
                        padding-right: 0;
                        padding-left: 60px;
                    }
                }
            }
        }
    }
}
