.container {
    max-width: 1180px !important;
    padding-right: 0;
    padding-left: 0;
    margin: auto;

    a {
        text-decoration: none;
        color: #003553;
        padding-right: 10px;
    }

    ul {
        padding: 20px 0;
        list-style: none;
        display: flex;
        align-items: center;
        min-height: 60px;
        font-weight: 600;
        flex-wrap: wrap;
        margin: 0;

        li {
            display: flex;
            align-items: center;
            color: #1a7bb4;
            font-size: 16px;
            font-weight: 600;
            margin-right: 20px;
        }
    }
}
