.body {
    margin-top: 140px;
    background: #e8f2f7;
    min-height: 50vh;
    color: #003553;

    .breadcrumb {
        width: 100%;
    }

    .chooseFeature {
        max-width: 800px;
        margin: auto;
    }
}
