.btnBack {
    margin-top: 10px;
    color: #003553;
    font-size: 18px;
    background: #e8f2f7;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    border: navajowhite;
    padding: 15px;
    align-items: center;
    gap: 5px;

    &:hover {
        background: rgba(0, 0, 0, 0.018);
        border-color: transparent;
        cursor: pointer;
    }
}
