.wrapper {
    color: #003553;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    z-index: 100;
    box-shadow: 0 10px 20px rgba(0,0,0,.04), 0 2px 6px rgba(0,0,0,.04), 0 0 1px rgba(0,0,0,.04);
    background-color: #fff;
    font-family: Roboto,sans-serif!important;

    .inner{
        display: flex;
        align-items: center;
        width: 100%;
        gap: 30px;
        max-width: 1180px;
        margin: auto;
    }

    .logo{
        width: 150px;
        cursor: pointer;
    }

    .menu{
        width: 100%;
        
        .header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 12px 0 12px 0px;
            position: relative;
            border-bottom: 1px solid #e4e4e4;
            
            .network{
                display: flex;
                align-items: center;
                padding: 0px 12px;
                position: relative;
                
                .text_a{
                    display: flex;
                    align-items: center;
                    gap: 4px;
                    color: #003553;
                    font-weight: 600;
                    font-family: Roboto,sans-serif!important;
                    padding: 12px;

                    &:hover{
                        cursor: pointer;
                        color: #47bfff;
                        outline: 0;
                        transition: color .4s;
                    }
                    .icon{
                        display: flex;
                        align-items: center;
                    }
                    
                }
                
            }


        }

        .body{
            display: flex;
            align-items: center;
            width: 100%;
            padding-left: 20px;
        }

    }
}

