.body {
    margin-top: 140px;
    background: #e8f2f7;
    min-height: 65vh;
    color: #003553;

    font-feature-settings: normal !important;
    font-family: Averta, serif !important;
    font-variant: normal !important;
}
