.item {
    width: 100%;
    display: inline-block;

    &:hover {
        z-index: 1;
    }

    .card {
        width: 160px;
        height: 150px;
        position: relative;
        text-align: center;
        background: #fff;
        box-shadow: 4px 8px 30px 0 rgba(177, 196, 218, 0.35);
        border-radius: 16px;
        border: 1px solid transparent;
        transition: all 0.15s ease-in;
        cursor: pointer;

        &:hover {
            box-shadow: none;
            border: 1px solid #00b5f1;
        }

        .icon {
            .img {
                display: inline-block;
                width: 70px;
                height: 70px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
            }
        }

        .title {
            margin-top: 20px;
            color: #003553;
            font-weight: 400;
            font-size: 18px;
            line-height: 19px;
        }
    }
}
