.group_socialBtn {
    width: 80%;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            margin-bottom: 20px;
            padding: unset;

            button {
                width: 100%;
                height: 50px;
                border: none;
                padding: 10px;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s ease;

                .logo {
                    display: flex;
                    align-items: center;
                    font-size: 12px;
                    margin-left: 45px;

                    img {
                        width: 20px;
                        height: 20px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }

    ul li button.googleBtn {
        background-color: #ef5252 !important;
        color: white;
    }

    ul li button.faceBtn {
        background-color: #293688 !important;
        color: white;
    }
}
